    <div class="footer container-fluid py-5">
    <div class="card-group p-4 mt-2">
      <div class="card custom-card text-white  border-0 ms-lg-4">
        <div class="card-body text-center">
          <h3>LOCATION</h3>
          <p>Gamal Abd el Nasser St.</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="card text-white custom-card border-0">
        <div class="card-body text-center">
          <h3>AROUND THE World</h3>
          <div class="icons fs-5">
            <i class="fa-brands fa-facebook mx-1 icon p-2 border border-1 rounded-circle"></i
            ><i class="fa-brands fa-twitter mx-1 icon p-2 border border-1 rounded-circle"></i
            ><i class="fa-brands fa-linkedin-in mx-1 icon p-2 border border-1 rounded-circle"
            ></i
            ><i class="fa-solid fa-globe mx-1 icon p-2 border border-1 rounded-circle"></i>
          </div>
        </div>
      </div>
      <div class="card custom-card text-white border-0 me-lg-4">
        <div class="card-body text-center">
          <h3>ABOUT Vetania</h3>
          <p>
            Vetanoia is a leading company in it solutions and managment systems . We are dedicated to providing our customers with the
            most critical part of the business.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="p pb-2 pt-4">
    <p>Copyright ©Kerollos fessal Your Website 2024</p>
  </div>
