    <div class="footer container-fluid py-5">
    <div class="card-group p-4 mt-2">
      <div class="card custom-card text-white  border-0 ms-lg-4">
        <div class="card-body text-center">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="card text-white custom-card border-0">
        <div class="card-body text-center">
          <h3>AROUND THE WEB</h3>
          <div class="icons fs-5">
            <i class="fa-brands fa-facebook mx-1 icon p-2 border border-1 rounded-circle"></i
            ><i class="fa-brands fa-twitter mx-1 icon p-2 border border-1 rounded-circle"></i
            ><i class="fa-brands fa-linkedin-in mx-1 icon p-2 border border-1 rounded-circle"
            ></i
            ><i class="fa-solid fa-globe mx-1 icon p-2 border border-1 rounded-circle"></i>
          </div>
        </div>
      </div>
      <div class="card custom-card text-white border-0 me-lg-4">
        <div class="card-body text-center">
          <h3>ABOUT FREELANCER</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="p pb-2 pt-4">
    <p>Copyright © Your Website 2021</p>
  </div>
