
<div
  class="about text-white d-flex justify-content-center align-items-center pt-5 mt-4"
>
  <div>
    <div class="text-center pt-3 mt-4" style="color: white">
      <h2 class="mb-2 fs-1 fw-bolder">ABOUT Vetania</h2>
    </div>
    <div class="d-flex align-items-center justify-content-center mb-2">
      <div class="line me-3"></div>
      <app-star></app-star>
      <div class="line ms-3"></div>
    </div>
    <div class="container">
      <div class="row px-5">
        <div class="col-md-6 ps-md-5">
          <p>
            Vetanoia Company, founded on principles of innovation and dedication, has
            emerged as a beacon of excellence in the competitive landscape of
            today's market. With a steadfast commitment to quality and customer
            satisfaction, Vetanoia has carved its niche as a leader in the industry.
            From its humble beginnings to its current stature,
          </p>
        </div>
        <div class="col-md-6 pe-5">
          <p>
            the company's journey has been marked by resilience, adaptability,
            and a relentless pursuit of excellence. Powered by a team of
            passionate professionals and fueled by a culture of creativity and
            collaboration, Vetanoia continues to push boundaries, explore new
            horizons, and redefine standards. With a clear vision for the future
            and a solid foundation built on integrity and trust, Vetanoia Company
            stands poised to shape the industry landscape for years to come.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
