<section class="home-wrapper py-2 mt-5">
    <div class="container-fluid pt-5 mt-5 d-flex flex-column text-white justify-content-center align-items-center">
        <div class="image-wrappper mt-4 pt-2 pb-4">
            <img src="assets/images/avatar.svg" alt="Svg image" class="w-100">
        </div>
        <h2 class="fw-bold fs-1 pt-3">Creative Solutions</h2>
<div class="d-flex align-items-center justify-content-center mb-3 pt-2">
        <div class="line bg-white me-3"></div>
        <app-star></app-star>
        <div class="line bg-white ms-3"></div>
</div>
        <div>Web Developer - Web Designer - Software</div>
    </div>
</section>
